package {{package}};

import akka.NotUsed;
import com.lightbend.lagom.javadsl.api.*;
import org.pcollections.PSequence;
import java.lang.Optional;

import static com.lightbend.lagom.javadsl.api.Service.*;

{{#imports}}import {{import}};
{{/imports}}

{{#operations}}
public interface {{classname}} extends Service {

    {{#operation}}
    ServiceCall<{{>operationBodyType}}, {{>operationReturnType}}> {{operationId}}({{>methodParameters}});
    {{/operation}}

    @Override
    default Descriptor descriptor() {
        return named("{{classVarName}}").withCalls(
            {{#operation}}
                restCall(Method.{{httpMethod}}, "{{path}}{{#queryParams}}{{#-first}}?{{/-first}}{{paramName}}{{#hasMore}}&{{/hasMore}}{{/queryParams}}", this::{{operationId}})
            {{/operation}}
        )
    }
}
{{/operations}}