{{#pathParams}}{{#required}}{{dataType}}{{/required}}{{^required}}{{#isContainer}}{{dataType}}{{/isContainer}}{{^isContainer}}Optional[{{dataType}}]{{/isContainer}}{{/required}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/pathParams}}{{#queryParams}}{{#required}}{{dataType}}{{/required}}{{^required}}{{#isContainer}}{{dataType}}{{/isContainer}}{{^isContainer}}Optional[{{dataType}}]{{/isContainer}}{{/required}} {{paramName}}{{#hasMore}}, {{/hasMore}}{{/queryParams}}