{{^defaultResponse}}NotUsed{{/defaultResponse}}{{#defaultResponse}}{{#responses}}{{#isDefault}}{{#dataType}}{{{dataType}}}{{/dataType}}{{^dataType}}NotUsed{{/dataType}}{{/isDefault}}{{/responses}}{{/defaultResponse}}