{{^defaultResponse}}akka.NotUsed{{/defaultResponse}}{{#defaultResponse}}{{#responses}}{{#isDefault}}{{#dataType}}{{{dataType}}}{{/dataType}}{{^dataType}}akka.NotUsed{{/dataType}}{{/isDefault}}{{/responses}}{{/defaultResponse}}